<section class="container-fluid">
    <div class="row">
        <div class="col s12 m4 l1"></div>
        <div class="col s12 m4 l10">
             <img class="responsive-img" width="500" alt="Meme" src="\<?$_SESSION["Imagen\"]?>\">        
        </div>
        <div class="col s12 m4 l1"></div>
        </div>
    </div>
</section>