body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Imagenes/fondoA.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ddd;
    font-size: 150%;
    
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(30, 148, 109, 0.753);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
 #personalInfo{
    background-color: rgba(0,0,0,0.5);
    
 }
 #investigacion{

    background-color: rgba(0,0,0,0.5);

 }

 #pie{

    background-color: rgba(0,0,0,0.5);

 }

#header{

  font-size: 25px;
}

#parrafoIntroduccion{

  align-items: center;

}
.imagen{

  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5px 5px 0 0;
}

.card {
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .9s;
  border-radius: 5px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(30, 148, 109, 0.753);
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.Contenido {
  background-color: rgba(0, 0, 0, 0.178);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white; 
  
}