<br>
<section>
    <div class="col s11 m11 l11">
        <a href="index.php"class="btn btn-success">Regresar a Home</a>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="center-align">Registrar Zombi</h1>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <form class="col s12" method=POST action="insertarRegistro.php">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <label>Seleccionar incidente</label>
                    <br><br>
                    <select id="Incidente" name="Incidente">
                        <option value="" disabled selected>¿Cuál es el  lugares del incidente?</option>
                        <option class="drop-link" value="1">Falla eléctrica</option>
                        <option class="drop-link" value="2"> Fuga de herbívoro</option>
                        <option class="drop-link" value="3"> Fuga de Velociraptors</option>
                        <option class="drop-link" value="4"> Fuga de TRex</option>
                        <option class="drop-link" value="5"> Robo de ADN</option>
                        <option class="drop-link" value="6">Auto descompuesto</option>
                        <option class="drop-link" value="7">Visitantes en zona no autorizada. </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <label>Seleccionar lugar</label>
                    <br><br>
                    <select id="Lugar" name="Lugar">
                        <option value="" disabled selected>¿Cuál es el  lugares del incidente?</option>
                        <option class="drop-link" value="1">Centro turístico</option>
                        <option class="drop-link" value="2">Laboratorios</option>
                        <option class="drop-link" value="3">Restaurante</option>
                        <option class="drop-link" value="4">Centro operativo</option>
                        <option class="drop-link" value="5">Triceratops</option>
                        <option class="drop-link" value="6">Dilofosaurios</option>
                        <option class="drop-link" value="7">Velociraptors </option>
                        <option class="drop-link" value="8">TRex</option>
                        <option class="drop-link" value="9">Planicie de los herbívoros.</option>
                    </select>
                </div>
            </div>
            <div class="container center-align">
               <button class="btn waves-effect waves-light center-align loginButton" type="submit" name="login" id="Registrar">Registrar<i class="fas fa-tint loginIcon"></i></button>
            </div>
        </form>
    </div>
</section>
<br><br>

