	<section id="home" class="video-hero" style="height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=D8zlUUrFK-M',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a> 
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
								<div class="float-left">
									<a href="agregarRegistro.php"class="btn"><i class="material-icons">Agregar Registro</i></a>
								</div>
								<div>
									<button id="btn_cargar_usuarios" class="btn btn-primary">Cargar Registros</button>
								</div>
								<div class="error_box" id="error_box">
									<p>Se ha producido un error.</p>
								</div>
										<table id="tabla" class="highlight tabla">
											<tr>
												<th>Nombre Incidente</th>
												<th>Lugar Incidente</th>
												<th>Fecha</th>
											</tr>
										</table>
									</div>
									
									<div class="loader" id="loader"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- 
 <a href="agregarRegistro.php"class="right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
 <div>
	 <button id="btn_cargar_usuarios" class="btn active">Cargar Zombies</button>
 </div>
 <div class="error_box" id="error_box">
	 <p>Se ha producido un error.</p>
 </div>
		  <table class="highlight" id="tabla">
			 
			 <thead>
				 <tr>
					 <th>Zombie</th>
					 <th>Estado</th>
					 <th>Fecha</th>
				 </tr>
			 </thead>
			 
		 </table> -->
		 <!-- <table id="tabla" class="highlight tabla">
			 <tr>
				 <th>Zombie</th>
				 <th>Estado</th>
				 <th>Fecha</th>
			 </tr>
		 </table>
	 </div>
	 
	 <div class="loader" id="loader"></div>
 </main>

 -->
