
 <a href="agregarzombie.php"class="right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <div>
        <button id="btn_cargar_usuarios" class="btn active">Cargar Zombies</button>
    </div>
    <div class="error_box" id="error_box">
        <p>Se ha producido un error.</p>
    </div>
            <!-- <table class="highlight" id="tabla">
                
                <thead>
                    <tr>
                        <th>Zombie</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                
            </table> -->
            <table id="tabla" class="highlight tabla">
                <tr>
                    <th>Zombie</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                </tr>
            </table>
        </div>
        
        <div class="loader" id="loader"></div>
    </main>


