* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F5F6FA;
	font-family: 'Montserrat', sans-serif;
}

header {
	width: 100%;
	display: none;
	padding: 20px 0;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
	color: #393A58;
	display: inline-block;
}

.btn {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	border: none;
	color: #fff;
	background: #54B53D;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius:100px;
}

header button.active {
	display: inline-block;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.formulario {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	transition: .3s ease all;
}

.formulario input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	border: none;
	margin: 0 px;
}
.formulario .btn {
	background: #3498db;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
}

.error_box {
	background: #c40018;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
	display: none;
}

.error_box.active {
	display: block;
}

table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 80px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

nav .nav-wrapper {
    position: relative;
    /* height: 100%; */
    bottom: 0;
    right: 0;
    /* width: 300px; */
}

td, th {
	border-bottom:1px solid #E9E9E9;
	padding: 20px;
}

th {
	color:#393A58;
	font-size: 16px;
}

td {
	font-size: 14px;
}

.loader {
	margin: auto;
	display: none;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader.active {
	display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}